<div class="jumbotron">
  <h1>Phone detail</h1>
  <% @phone.each do |detail| %>
    <h3>
      <%= detail.keys.first %>
    </h3>

    <% detail.values.first.each do |key, value| %>
    <span>
      <b><%= key %></b>: <%= value %><br/>
    <span>
    <% end %>
    <hr/>
  <% end %>
</div>
